#  All below credential is not original this is for testing 

NEXT_PUBLIC_SUPABASE_URL=https://yjvrdvuvztyclnsepfpa.supabase.co

NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlqdnJkdnV2enR5Y2xuc2VwZnBhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE1MDYzNTIsImV4cCI6MjA5NzA4MjM1Mn0.IGSIfQoYUUicPRzTvlJivJIiUqNqR_4eEZ_xk-RZ-x0

NEXT_PUBLIC_BACKEND_URL=https://api-toss-dev.onrender.com

NEXT_PUBLIC_GITHUB_APP_SLUG=Trustless-OSS-Dev

NEXT_PUBLIC_APP_URL=http://localhost:3000
