#  All below credential is not original this is for testing 

NEXT_PUBLIC_SUPABASE_URL=https://................supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=..............................

NEXT_PUBLIC_BACKEND_URL=https://api-toss-dev.onrender.com
NEXT_PUBLIC_GITHUB_APP_SLUG=Trustless-OSS-Dev
NEXT_PUBLIC_APP_URL=http://localhost:3000
