# Dependencies
node_modules
.pnpm-store
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Build outputs
/.next/
/out/
/build
dist

# Testing
/coverage

# Env files
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db
*.pem

# Editor
.vscode/settings.json
.idea

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Test Snapshots
test_snapshot/

# Misc
.codex
