NODE_ENV=development
PORT=5000

SUPABASE_URL=https://yjvrdvuvztyclnsepfpa.supabase.co
SUPABASE_SERVICE_ROLE_KEY=dummy-key-for-local-dev


GITHUB_APP_ID=123456
GITHUB_APP_PRIVATE_KEY=-----BEGIN RSA PRIVATE KEY-----\n...
GITHUB_WEBHOOK_SECRET=your-webhook-secret

STELLAR_NETWORK=testnet
PLATFORM_STELLAR_SECRET_KEY=SC274FAFQS5MR37WH6FPI7I3622ZM6TNZ3HXQBZGIOE333KGQBXGOBVN
PLATFORM_STELLAR_PUBLIC_KEY=GCPZCXSEWARYFZAJQEAJORUHZNGJNMQCDYYCDTYTUDD65H4TKKDF65HS
DISPUTE_RESOLVER_STELLAR_SECRET_KEY=SCGUUJ5JUDXNWVCVRAH5BCBZIGBAHSCUNDP4IEA5FH235M64XAGRM6SD
DISPUTE_RESOLVER_STELLAR_PUBLIC_KEY=GB5RJ5UI7264E5F2S5FA5ZETOTOS4HRWPGAHMHQDAPK6OJRKCXOH2MTI

# Trustless Work API Key (This is test keys not real one)
TRUSTLESS_WORK_API_KEY=njooqrUK_VGtzNQHzwr59Q.38fa64f795772f6486195556df824f093fdbc49883707273eed20634587b4034
TRUSTLESS_WORK_BASE_URL=https://dev.api.trustlesswork.com


APP_URL=http://localhost:3000
FRONTEND_URL=http://localhost:3000
WEBHOOK_URL=http://localhost:4000/api/webhooks/github

REDIS_URL=redis://localhost:6379
